/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la pantalla de televisión */
.tv-screen {
    position: relative;
    width: 65%;
    height: 700px;
    /* Ajustar según sea necesario */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
     /* Márgenes iguales en todas partes */
}

.channel-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("./img/pared.jpg");  */
    background-size: cover;
    filter: brightness(0.5);
    background-position: center;
    opacity: 0.7; /* Ajusta la opacidad del GIF para que sea semitransparente */
    /* Ajustar según sea necesario */
}

.remote-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 230px;
    margin-left: auto;
    margin-right: 20px; /* Espacio a la derecha */
}

.remote-control button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.top-buttons {
    margin-bottom: 10px;
}

.bottom-buttons {
    margin-top: 10px;
}

.volume-button {
    background-color: #ff9800;
    color: white;
    /* Cambiar el color según sea necesario */
}
/* Otros estilos y ajustes aquí */
